<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExileRota</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/BrowseRotations/pagination.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <a class="navbar-brand" @Url.Action("Index", "Home")>ExileRota</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">
                            <a class="nav-link" href="@Url.Action("BrowseRotations", "Rotations")">Browse rotations</a>
                            <a class="nav-link" href="@Url.Action("Register", "Home")">Register</a>
                            <a class="nav-link" href="@Url.Action("Login", "Home")">Login</a>
                            <a class="nav-link" href="@Url.Action("Logout", "Home")">Logout</a>
                        </div>
                    </div>
                </nav> 
            </div>
        </div>
    </div>
    <div class="container">
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — ExileRota </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>